---
import Navigation from "../components/Navigation.astro";
import "../styles/global.css";

const pageTitle = "Sobre Mí";

const identity = {
  firstName: "José Chaqquere",
  country: "Perú",
  occupation: "Desarrollador Web",
  hobbies: ["programar", "jugar videojuegos", "ver series"],
};

const skills = [
  "HTML",
  "CSS",
  "JavaScript",
  "TypeScript",
  "Astro",
  "Angular",
  "DaisyUI",
  "TailwindCSS",
];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "crimson";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>

    <style define:vars={{ skillColor, fontWeight, textCase }}>
      h1 {
        color: purple;
        font-size: 4rem;
      }

      .skill {
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <!-- nav start -->
    <Navigation />
    <!-- nav end -->

    <h1>{pageTitle}</h1>
    <h2>... y mi nuevo sitio con Astro!</h2>

    <p>
      Estoy trabajando en el tutorial introductorio de Astro. Esta es la segunda
      página de mi sitio web, ¡y es la primera que construí yo mismo!
    </p>

    <p>
      Este sitio se actualizará a medida que complete más del tutorial, ¡así que
      sigue visitándolo para ver cómo avanza mi viaje!
    </p>

    <p>Aquí tienes algunos datos sobre mí:</p>
    <ul>
      <li>Mi nombre es {identity.firstName}.</li>
      <li>Vivo en {identity.country}.</li>
      <li>
        Trabajo como {identity.occupation}.
      </li>
      <li>
        Me gusta {identity.hobbies.join(", ")}.
      </li>
    </ul>

    <p>Aquí tienes algunas de las tecnologías que estoy aprendiendo:</p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    {happy && <p>¡Estoy feliz de aprender Astro!</p>}
    {finished && <p>¡He terminado el tutorial!</p>}
    {goal === 3 && <p>¡He completado 3 tutoriales!</p>}
  </body>
</html>
